<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="w-full h-full bg-teal-950 p-10 text-white">
      <a href="/" class="tracking-tighter mb-3 text-teal-500">
        Go Back to Home
      </a>
      <h1 class="text-3xl tracking-tighter mb-3 mt-3">All User</h1>
      <% if(users.length>0){%>
      <div class="users flex gap-3 flex-wrap">
        <% users.forEach(function(e){%>
        <div class="user w-72 p-4 bg-teal-800 rounded-lg">
          <div class="w-full h-72 bg-teal-900 rounded-lg overflow-hidden">
            <img
              class="w-full h-full object-cover object-center"
              src="<%=e.image%>"
              alt=""
            />
          </div>
          <h3 class="text-xl mt-3 tracking-tighter"><%= e.name%></h3>
          <p class="text-teal-500"><%=e.email%></p>
          <div class="flex gap-3 mt-10">
            <a class="text-teal-600" href="">Edit User</a>
            <a class="text-red-400" href="/delete/<%=e._id%>">Delete User</a>
          </div>
        </div>
        <% }) %>
      </div>

      <% }else{%>
      <h1>No user created yet</h1>
      <%} %>
    </div>
  </body>
</html>
